@import '../../styles.scss';
.hp__wrapper {
  background-image: url('../../assets/img/hp__background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &:before {
    content: "";
    background-image:url('../../assets/img/hp__background1.png');
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
  }
}
.hp__main {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  margin-top: -10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 0;
  background-color: $mainFontColor;

  &-row {
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #ffffff;

    &-padding {
      padding: 0;
    }
  }
}

.hp__post {
  width: 100%;
  background-color: $mainFontColor;
}
